<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- 本文件用于监听当前接入屏幕数量等状态的变化并做 system_profilter 命令的输出缓存 -->
<dict>
    <key>Label</key>
    <string>com.github.shaddollxz.keyput-methoard.screen_info_cache_updater</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>system_profiler SPDisplaysDataType > ~/.cache/screen_info_cache</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Library/Preferences/com.apple.windowserver.displays.plist</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
