{
  :templates {
    :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
  }
  :main [
    {
      :des "分号模式"
      :rules [
        [
          :semicolon ["semi_mode" 1] nil { ;; 按下分号后进入分号模式
            :afterup ["semi_mode" 0] ;; 松开分号后退出分号模式
            :alone :semicolon ;; 只按下分号输入分号
          }
        ]
        [:q :escape ["semi_mode" 1]] ;; esc
        [:w :!Ropen_bracket ["semi_mode" 1]] ;; {
        [:e :!R9 ["semi_mode" 1]] ;; (
        [:r :!Rcomma ["semi_mode" 1]] ;; <
        [:t :!Rperiod ["semi_mode" 1]] ;; >
        [:y :!R5 ["semi_mode" 1]] ;; %
        [:u :!R8 ["semi_mode" 1]] ;; *
        [:i :slash ["semi_mode" 1]] ;; /
        [:o :!Rquote ["semi_mode" 1]] ;; “
        [:a :!R2 ["semi_mode" 1]] ;; @
        [:s :!R7 ["semi_mode" 1]] ;; &
        [:d :!Rbackslash ["semi_mode" 1]] ;; |
        [:f :!R1 ["semi_mode" 1]] ;; !
        [:g [:equal_sign :!Rperiod] ["semi_mode" 1]] ;; =>
        [:h :equal_sign ["semi_mode" 1]] ;; =
        [:j :!Requal_sign ["semi_mode" 1]] ;; +
        [:k :hyphen ["semi_mode" 1]] ;; -
        [:l :grave_accent_and_tilde ["semi_mode" 1]] ;; `
        [:z :!R3 ["semi_mode" 1]] ;; #
        [:x :!Rhyphen ["semi_mode" 1]] ;; _
        [:c :!R6 ["semi_mode" 1]] ;; ^
        [:v :!Rsemicolon ["semi_mode" 1]] ;; :
        [:b :!R4 ["semi_mode" 1]] ;; $
        [:n :!Rslash ["semi_mode" 1]] ;; ?
        [:m :!Rgrave_accent_and_tilde ["semi_mode" 1]] ;; ~
      ]
    }
    {
      :des "逗号模式"
      :rules [
        [
          :quote ["comma_mode" 1] nil {
            :afterup ["comma_mode" 0]
            :alone :quote
          }
        ]
        [:w :!Rclose_bracket ["comma_mode" 1]] ;; }
        [:e :!R0 ["comma_mode" 1]] ;; )
        [:r :!Rperiod ["comma_mode" 1]] ;; >
        [:t :!Rperiod ["comma_mode" 1]] ;; >
      ]
    }
    {
      :des "3模式"
      :rules [
        [
          :3 ["three_mode" 1] nil {
            :afterup ["three_mode" 0]
            :alone :3
          }
        ]
        [:u :7 ["three_mode" 1]] ;; 7
        [:i :8 ["three_mode" 1]] ;; 8
        [:o :8 ["three_mode" 1]] ;; 8
        [:p :9 ["three_mode" 1]] ;; 9
        [:j :4 ["three_mode" 1]] ;; 4
        [:h :4 ["three_mode" 1]] ;; 4
        [:k :5 ["three_mode" 1]] ;; 5
        [:l :6 ["three_mode" 1]] ;; 6
        [:b :1 ["three_mode" 1]] ;; 1
        [:n :2 ["three_mode" 1]] ;; 2
        [:m :2 ["three_mode" 1]] ;; 2
        [:comma :3 ["three_mode" 1]] ;; 3
        [:period :3 ["three_mode" 1]] ;; 3
        [:spacebar :0 ["three_mode" 1]] ;; 0
        [:r :!Fdelete_or_backspace ["three_mode" 1]] ;; delete
        [:q :delete_or_backspace ["three_mode" 1]] ;; backspace
        [:1 :delete_or_backspace ["three_mode" 1]] ;; backspace
      ]
    }
    {
      :des "9模式"
      :rules [
        [
          :9 ["nine_mode" 1] nil {
            :afterup ["nine_mode" 0]
            :alone :9
          }
        ]
        [:w :up_arrow ["nine_mode" 1]] ;; 上
        [:s :down_arrow ["nine_mode" 1]] ;; 下
        [:a :left_arrow ["nine_mode" 1]] ;; 左
        [:f :right_arrow ["nine_mode" 1]] ;; 右
        [:g :!Qright_arrow ["nine_mode" 1]] ;; end
        [:q :!Qleft_arrow ["nine_mode" 1]] ;; home
        [:e :!Eleft_arrow ["nine_mode" 1]] ;; 上一个单词
        [:d :!Eright_arrow ["nine_mode" 1]] ;; 下一个单词
        [:u :delete_or_backspace ["nine_mode" 1]] ;; backspace
        [:p :!Fdelete_or_backspace ["nine_mode" 1]] ;; delete
        [:!Sw :!Sup_arrow ["nine_mode" 1]] ;; 上+shift
        [:!Ss :!Sdown_arrow ["nine_mode" 1]] ;; 下+shift
        [:!Sa :!Sleft_arrow ["nine_mode" 1]] ;; 左+shift
        [:!Sf :!Sright_arrow ["nine_mode" 1]] ;; 右+shift
        [:!Sg :!SQright_arrow ["nine_mode" 1]] ;; end+shift
        [:!Sq :!SQleft_arrow ["nine_mode" 1]] ;; home+shift
        [:!Se :!SEleft_arrow ["nine_mode" 1]] ;; 上一个单词+shift
        [:!Sd :!SEright_arrow ["nine_mode" 1]] ;; 下一个单词+shift
      ]
    }
    {
      :des "caps模式"
      :rules [
        [
          :caps_lock ["caps_mode" 1] nil {
            :afterup ["caps_mode" 0]
            :alone :caps_lock
          }
        ]
        [:w :!QEi ["caps_mode" 1]] ;; 打开网页开发者模块
        [:d :!Qtab ["caps_mode" 1]] ;; 切换
        [:q :!WQf ["caps_mode" 1]] ;; 全屏
      ]
    }
    {
      :des "fn映射"
      :rules [
        [:!F1 :f1] ;; f1
        [:!F2 :f2] ;; f2
        [:!F3 :f3] ;; f3
        [:!F4 :f4] ;; f4
        [:!F5 :f5] ;; f5
        [:!F6 :f6] ;; f6
        [:!F7 :f7] ;; f7
        [:!F8 :f8] ;; f8
        [:!F9 :f9] ;; f9
        [:!F0 :f10] ;; f10
        [:!Fhyphen :f11] ;; f11
        [:!Fequal_sign :f12] ;; f12
      ]
    }
  ]
}
