;; 这里的配置每个模块都通用（因为最后都会被集成为一个文件）

;; 辅助键：
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; 通过 osascript -e 'id of app "AppName"' 命令获得 app 的标识
{:applications {:browser ["^org\\.mozilla\\.firefox$" "^com\\.google\\.Chrome$" "^com\\.microsoft\\.edgemac$" "^com\\.apple\\.Safari$"]
                :vscode ["^com\\.microsoft\\.VSCode$"]}
 :main [
        ;; 每个模块单独一行才能被脚本解析到
        "./modules/mode-semi.edn"
        "./modules/mode-quote.edn"
        "./modules/mode-3.edn"
        "./modules/mode-9.edn"
        "./modules/mode-caps.edn"
        "./modules/mode-tab.edn"
        ]
 }