{:des "fn映射"
 :rules [[:!F1 :f1] ;; f1
         [:!F2 :f2] ;; f2
         [:!F3 :f3] ;; f3
         [:!F4 :f4] ;; f4
         [:!F5 :f5] ;; f5
         [:!F6 :f6] ;; f6
         [:!F7 :f7] ;; f7
         [:!F8 :f8] ;; f8
         [:!F9 :f9] ;; f9
         [:!F0 :f10] ;; f10
         [:!Fhyphen :f11] ;; f11
         [:!Fequal_sign :f12] ;; f12
         ]}