{:des "Caps模式"
 :rules [[:caps_lock ["caps_mode" 1] nil {:afterup ["caps_mode" 0]
                                          :alone :caps_lock}]
         [:q :!WQf ["caps_mode" 1]] ;; 全屏
         [:w :!QEi ["caps_mode" 1]] ;; 打开网页开发者模块
         [:c :!Cw ["caps_mode" 1]] ;; 关闭标签页
         [:v :f5 [:browser ["caps_mode" 1]]] ;; 刷新浏览器
         ;; 桌面左右移动
         [:f :!Tright_arrow ["caps_mode" 1]]
         [:s :!Tleft_arrow ["caps_mode" 1]]
         ;; 标签页切换
         [:e :!COleft_arrow ["caps_mode" 1]] ;; cmd + option + left
         [:d :!COright_arrow ["caps_mode" 1]] ;; cmd + option + right
         ;; 双手模式
         [:j :!Tleft_arrow ["caps_mode" 1]]
         [:l :!Tright_arrow ["caps_mode" 1]]
         [:i :!COleft_arrow ["caps_mode" 1]] ;; cmd + option + left
         [:k :!COright_arrow ["caps_mode" 1]]];; cmd + option + right
 }